<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

<div style="padding-bottom:5px">
  <span ng-click="
    tasks.all ? tasks.completeFileter = {progress : '!100%'} : tasks.completeFileter = undefined;
    tasks.all=!tasks.all;
    tasks.setCount()">
    <input type="checkbox" data-toggle="toggle" data-off="未完了" data-on="全て" data-onstyle="info" data-offstyle="danger">
  </span>
</div>

<div>
  <ul class="nav nav-pills">
    <li class="active">
      <a data-toggle="tab" ng-click="tasks.ownerFileter = undefined">
        全　て  <span class="badge">{{tasks.allcount ? tasks.allcount : 0 }}</span>
      </a>
    </li>
    <li>
      <a data-toggle="tab" ng-click="tasks.ownerFileter = {owner : '大川'}">
        大　川  <span class="badge">{{tasks.okawacount ? tasks.okawacount : 0 }}</span>
      </a>
    </li>
    <li>
      <a data-toggle="tab" ng-click="tasks.ownerFileter = {owner : '藤岡'}">
        藤　岡　<span class="badge">{{tasks.fujiokacount ? tasks.fujiokacount : 0 }}</span>
      </a>
    </li>
    <li>
      <a data-toggle="tab" ng-click="tasks.ownerFileter = {owner : '青屋'}">
        青　屋　<span class="badge">{{tasks.aoyacount ? tasks.aoyacount : 0 }}</span>
      </a>
    </li>
  </ul>
</div>

<table class="table table-striped">
    <tr ng-repeat="task in tasks.items | filter: tasks.ownerFileter | filter: tasks.completeFileter">
      <td>
        <select id="task.owner" ng-model="task.owner" ng-change="tasks.items.$save(task)">
          <option ng-repeat="owner in tasks.owners">{{owner}}</option>
        </select>
      </td>
      <td>
        <select id="task.progress" ng-model="task.progress" ng-change="tasks.items.$save(task)">
          <option ng-repeat="progress in tasks.progresses">{{progress}}</option>
        </select>
        <div class="progress progress-striped">
          <div class="progress-bar {{task.progress == '100%' ? 'progress-bar-info' : 'progress-bar-danger'}}" style="width: {{task.progress}};"></div>
        </div>
      </td>
      <td>{{task.note}}</td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="tasks.removeTask(task)">
          削除
        </button>
      </td>
    </tr>
</table>

<hr>

<form class="form-horizontal" name="tasksregister" ng-submit="tasks.register()" novalidate>
  <div class="form-group">
    <label for="owner" class="col-sm-2 control-label">担当者</label>
    <div class="col-sm-10">
      <select id="owner" ng-model="tasks.owner" required>
        <option ng-repeat="owner in tasks.owners">{{owner}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="note" class="col-sm-2 control-label">タスク</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="note" ng-model="tasks.note" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input class="btn btn-primary" type="submit" value="作成する" ng-disabled="!tasksregister.$valid">
    </div>
  </div>
</form>
